// Standard Windows-ressourcer til indlejring i DLL'en.

#ifdef APSTUDIO_INVOKED
#error this file is not editable by Microsoft Visual C++
#endif //APSTUDIO_INVOKED

/////////////////////////////////////////////////////////////////////////////
// Standard konstanter, som egentlig burde defineres med
// #include "afxres.h"
// eller egentlig WinUser.h
#define RT_MANIFEST 24
#define CREATEPROCESS_MANIFEST_RESOURCE_ID 1

/////////////////////////////////////////////////////////////////////////////
// Standard konstanter, som egentlig burde defineres med
// #include "afxres.h"
// eller egentlig VerRsrc.h
#define VS_VERSION_INFO 1


/////////////////////////////////////////////////////////////////////////////
// Language = Neutral, Sublanguage = Neutral
LANGUAGE 0x000, 0x000


/////////////////////////////////////////////////////////////////////////////
// Manifest for DLL'en indlejres som ressource
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST CommonInterop.manifest


/////////////////////////////////////////////////////////////////////////////
// Version
#include "..\VersionInfo.h"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION VERSION_MAJOR, VERSION_MINOR, VERSION_BUILD, VERSION_REVISION
 PRODUCTVERSION VERSION_MAJOR, VERSION_MINOR, VERSION_BUILD, VERSION_REVISION
 FILEFLAGSMASK 0x3FL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		// Neutral = 0x0000, Unicode = 0x04b0 = 1200
		BLOCK "000004b0"
		BEGIN
			VALUE "Assembly Version", VERSION_STRING
			VALUE "CompanyName", COMPANY_NAME
			VALUE "FileDescription", "CommonInterop"
			VALUE "FileVersion", VERSION_STRING
			VALUE "InternalName", "\CommonInterop.dll"
			VALUE "LegalCopyright", LEGAL_COPYRIGHT
			VALUE "OriginalFilename", "\CommonInteropdll"
			VALUE "ProductName", PRODUCT_NAME
			VALUE "ProductVersion", VERSION_STRING
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		// Neutral = 0x0000, Unicode = 0x04b0 = 1200
		VALUE "Translation", 0x0000, 1200
	END
END
